/* css tag */
body {
    background-color: bisque;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

button {
    width:100%;
    background-color: black;
    color: white;
    border: none;    
    border-radius: 5px;
    padding-top: 5px;    
    padding-bottom: 5px;    
}

div button {
    padding: 10px 10px 10px 10px;
}

input {
    grid-column: 1 / span 4;
}

/* css class */
.red {
    background-color: red;
    grid-column: 1 / span 2;
}

.blue {
    background-color: blue;
}

.opr {
    background-color: green;
}

.grid-konten{
    display: grid;
    justify-content: center;
    grid-gap: 4px;
    grid-template-columns: 50px 50px 50px 50px;
    border-radius: 5px; 
    padding-top: 10px;
}


